@media screen and (max-width: 768px) {
    .no-footer {
        font-family: 'Roboto';
        width: 100%;
        height: 100%;
        background: #E5E8EB;
    }

        .no-footer .inner {
            padding-top: 70px;
            padding-left: 20px;
        }
        .no-footer .images {
            justify-content: center;
            padding-top: 72px;
        }
        .no-footer .inner p {
            padding-top: 39px;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px;
            color: #134A45;
        }
        .no-footer .images img {
            padding-right: 30px;
        }

            .no-footer .images img:last-child {
                padding-right: 0;
            }
}



@media screen and (min-width: 768px) {
    .no-footer {
        font-family: 'Roboto';
        width: 1200px;
        height: 330px;
        background: #E5E8EB;
    }

        .no-footer .inner {
            padding-top: 70px;
            padding-left: 50px;
            padding-right: 50px;
        }

            .no-footer .inner p {
                padding-top: 39px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #134A45;
            }

        .no-footer .images {
            display: flex;
            justify-content: center;
            padding-top: 72px;
        }

            .no-footer .images img {
                padding-right: 52px;
            }

                .no-footer .images img:last-child {
                    padding-right: 0;
                }
}